[Unit]
  Description=Simple Python HTTP Server for RPIClock Display
  After=network.target

[Service]
WorkingDirectory=/home/rajendra/rpiclock
ExecStart=/usr/bin/python -m http.server 8080
Restart=always
User=rajendra

[Install]
WantedBy=multi-user.target